*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:linear-gradient(#fffef6,#fef7d6);

font-family:Segoe UI;

overflow:hidden;

text-align:center;

}

h1{

margin-top:30px;

font-weight:300;

font-size:45px;

}

.campo{

position:relative;

height:550px;

display:flex;

justify-content:center;

align-items:flex-end;

gap:80px;

}

.svgFlor{

width:220px;

overflow:visible;

}

.caule{

stroke:#45a049;

stroke-width:7;

fill:none;

}

.folha{

fill:#4CAF50;

}

.petalas ellipse{

fill:#FFD43B;

}

.miolo{

fill:#5b3a29;

}

.girassol{

transform-origin:bottom center;

animation:vento 4s ease-in-out infinite;

}

.pequeno{

transform:scale(.8);

animation-delay:.8s;

}

.grande{

transform:scale(1);

}

@keyframes vento{

0%{

transform:rotate(-3deg);

}

50%{

transform:rotate(4deg);

}

100%{

transform:rotate(-3deg);

}

}

#texto{

margin:auto;

width:70%;

font-size:26px;

height:80px;

transition:.5s;

}

.heart{

position:absolute;

font-size:30px;

color:pink;

opacity:0;

animation:subir 6s linear forwards;

}

@keyframes subir{

0%{

opacity:0;

transform:translateY(30px) scale(.5);

}

20%{

opacity:1;

}

100%{

opacity:0;

transform:translateY(-250px) scale(1.4);

}

}